{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "ie": "8"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
